kind: Deployment
apiVersion: apps/v1
metadata:
  name: backend-parameters
  labels:
    app.kubernetes.io/instance: backend-parameters
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: backend-parameters
    app.kubernetes.io/version: 0.1.0
    helm.sh/chart: backend-parameters-0.1.0
  annotations:
    argocd.argoproj.io/tracking-id: enc4ehiy_parameters-dev-backend-parameters:apps/Deployment:enc4ehiy-parameters-dev/backend-parameters
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: backend-parameters
      app.kubernetes.io/name: backend-parameters
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: backend-parameters
        app.kubernetes.io/managed-by: Helm
        app.kubernetes.io/name: backend-parameters
        app.kubernetes.io/version: 0.1.0
        helm.sh/chart: backend-parameters-0.1.0
    spec:
      volumes:
        - name: secret-volume
          secret:
            secretName: secret-extra-config
            items:
              - key: application.secret.properties
                path: application.secret.properties
        - name: configmap-volume
          configMap:
            name: cm-extra-config
            items:
              - key: application.properties
                path: application.properties
        - name: ps-volume
          secret:
            secretName: backend-parameters
            items:
              - key: application.secret.properties.from.ps
                path: application.secret.properties.from.ps
      containers:
        - name: backend-parameters
          image: 183631338639.dkr.ecr.eu-central-1.amazonaws.com/enc4ehiy/backend-parameters:0.1.0-SNAPSHOT.2
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          envFrom:
            - configMapRef:
                name: cm-extra-env
            - secretRef:
                name: secret-extra-env
          env:
            - name: BACKEND_PROFILES_ACTIVE
              value: dev
            - name: ENV_VAR1
              valueFrom:
                configMapKeyRef:
                  name: cm-extra-config
                  key: ENV_VAR1
            - name: ENV_VAR4
              valueFrom:
                secretKeyRef:
                  name: secret-extra-config
                  key: ENV_VAR4
            - name: ENV_VAR5
              valueFrom:
                secretKeyRef:
                  name: backend-parameters
                  key: ENV_VAR5
          volumeMounts:
            - name: secret-volume
              readOnly: true
              mountPath: /secret-config
            - name: configmap-volume
              readOnly: true
              mountPath: /config
            - name: ps-volume
              readOnly: true
              mountPath: /ps-config
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      serviceAccountName: backend-parameters
      serviceAccount: backend-parameters
      securityContext: {}
      imagePullSecrets:
        - name: regcred
      schedulerName: default-scheduler
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600
